<div class="row">
    <div class="col-sm-12">
        <h3>Edit post</h3>
        <hr/>
        <form [formGroup]="postForm" (submit)="OnUpdatePost()">
            <div class="mb-3">
                <label>Title</label>
                <input formControlName="title" class="form-control" type="text" />
                <div class="text-danger" *ngIf="postForm.controls['title'].touched && postForm.controls['title'].errors">
                    <div *ngIf="postForm.get('title')?.hasError('required')">
                        <p>Title field is required.</p>
                    </div>
                    <div *ngIf="postForm.get('title')?.hasError('minlength')">
                        <p>Title field should be minimum of 2 characters.</p>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                <textarea class="form-control" formControlName="description" type="text"></textarea>
                <div class="text-danger">
                    <p>{{errorDescription()}}</p>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit" [disabled]="postForm.invalid">Update</button> &nbsp;
                <button class="btn btn-danger" type="button" (click)="OnCancel()" [disabled]="postForm.invalid">Cancel</button>
            </div>
        </form>
    </div>
</div>