<br>
<div class="row">
    <div class="col-sm-8">
        <h3>Post Lists</h3>
        <div class="float-end">
            <a href="#" class="btn btn-primary" [routerLink]="['/post/addPost']">Add post</a>
        </div>
        <table class="table stripped">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let post of posts$ | async">
                    <td>
                        {{post.id}}
                    </td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <button type="button" (click)="onEdit(post)" class="btn btn-success">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <router-outlet></router-outlet>
    </div>
</div>